<aside class="sidebar">
  <h2 class="logo">Admin Panel</h2>

  <nav>
    <a href="../dashboard/dashboard.html" data-page="dashboard">
      <i class="fa-solid fa-house"></i> Dashboard
    </a>

    <a href="../transaction/transaction.html" data-page="transaction">
      <i class="fa-solid fa-clock-rotate-left"></i> Transaction history
    </a>

    <a href="../user/user.html" data-page="user">
      <i class="fa-solid fa-users"></i> Users
    </a>

    <a href="../service/service.html" data-page="service">
      <i class="fa-solid fa-box"></i> Service Package
    </a>

    <a href="../digital/digital.html" data-page="digital">
      <i class="fa-solid fa-user-doctor"></i> Digital Human
    </a>
  </nav>
</aside>
